/* Add your custom styles here */

/* Global styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* Header styles */
header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 20px; /* Adjust padding as needed */
  text-align: center;
}

/* Main content styles */
main {
  padding: 20px;
}

/* Input section styles */
.input-section {
  margin-bottom: 20px;
}

/* Input styles */
input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Increase vertical length for text summarization */
.text-summarization textarea {
  height: 300px; /* Adjust height as needed */
}

/* Button styles */
button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

/* Summary container styles */
.result-section {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-indicator {
  text-align: center;
}

.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin-bottom: 20px; /* Add margin to bottom */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Button container styles */
.button-container {
  display: flex;
  justify-content: space-between;
}

.paste-button,
.clear-button {
  display: inline-block;
}

/* Reduce width of summary length input */
.summary-options {
  display: flex;
  align-items: center;
}

#summaryLengthValue {
  width: 60px; /* Adjust width as needed */
}

h1 {
  text-align: left;
}
.button-container button {
  margin: 0 5px; /* Add margin between buttons */
}